<!DOCTYPE html>
<html>
  <head>
    <title>Become an admin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="stylesheet" href='/stylesheets/form.css' />
  </head>
  <body>
    <div class="main"></div>
    <div class="container">
      <div class="nav-bar">
        <h3 class="title"><a href="/">Only Friends</a></h3>
        <ul class="list">
          <li class="hello">Hi, <%= user.username %></li>
          <li>|</li>
          <li class="logout"><button></button><a href="/logout">Log out</a></button></li>
        </ul>
      </div>
      <div class="content">
        <div>
          <h2 class="header">Become a admin</h2>
          <p class="description">Type the password into the box below</p>
          <div class="form">
            <form method="POST" action="/admin/verify">
              <div class="input-container ic2">
                <input id="password" class="input" type="password" name="adminPassword" placeholder=" " />
                <div class="cut"></div>
                <label for="password" class="placeholder">Password</label>
              </div>
              <p class="error"><%= error %></p>
              <button type="submit" class="submit">Verify</button>
            </form> 
            <a href="/member/verify"><button class="back">Want to be a member, Click here!</button></a>
          </div>
        </div>
      </div>
    </div>  
  </body>
</html>
