<!DOCTYPE html>
<html>
  <head>
    <title>Become a member</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="stylesheet" href='/stylesheets/form.css' />
  </head>
  <body>
    <div class="main"></div>
    <div class="container">
      <div class="nav-bar">
        <h3 class="title"><a href="/">Only Friends</a></h3>
        <ul class="list">
          <li class="hello item">Hi, <%= user.username %> </li> 
          <li>|</li>
          <li class="logout item"><button></button><a href="/logout">Log out</a></button></li>
        </ul>
      </div>
      <div class="content">
        <div>
          <div class="form">
            <h2 class="header">Become a member</h2>
            <p class="sub-header">Type the password into the box below</p>
            <form method="POST" action="/verify/member">
              <div class="input-container ic2">
                <input id="password" class="input" type="password" name="memberPassword" placeholder=" " />
                <div class="cut"></div>
                <label for="password" class="placeholder">Password</label>
              </div>
              <p class="error"><%= error %></p>
              <button type="submit" class="submit">Verify</button>
            </form> 
            <a href="/verify/admin"><button class="back">Want to be an Admin, Click here!</button></a>
          </div>
        </div>
      </div>
    </div>  
  </body>
</html>
