<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel='stylesheet' href='/stylesheets/login_signup.css' />
  </head>
  <body>
    <div class="main"></div>
    <div class="container">
      <div class="nav-bar">
        <h3 class="title"><a href="/">Only Friends</a></h3>
        <ul class="list">
          <li class="item">🅧</li>
          <li class="item">🅧</li>
          <li class="item">🅧</li>
        </ul>
      </div>
      <div class="content">
        <div class="form">
          <form method="POST" action="/signup">
              <div class="input-container ic1">
                <input id="username" class="input" type="text" name="username" placeholder=" " />
                <div class="cut"></div>
                <label for="username" class="placeholder">username</label>
              </div>
              <div class="input-container ic2">
                <input id="password" class="input" type="password" name="password" placeholder=" " />
                <div class="cut"></div>
                <label for="password" class="placeholder">password</label>
              </div>
              <div class="input-container ic2">
                <input id="confirmPassword" class="input" type="password" name="confirmPassword" placeholder=" " />
                <div class="cut"></div>
                <label for="password" class="placeholder">confirm password</label>
              </div>
              <p class="error"><%= error %></p>
              <button type="submit" class="submit">Sign up</button>
            </form> 
            <a href="/login"><button class="back">Already have an account? Login</button></a>
          </div>
      </div>
    </div>  
  </body>
</html>
