.managerTable {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.header {
    width: 100%;
}
table {
    font-size: 1rem;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64,64,64,.7);
    border-radius: 12px;
    height: 500px;
    display: block;
    overflow-y: scroll;
}

table {
    text-align: left;
}

th {
    background: white;
    position: sticky;
    top: 0;
}

/* hide scrollbar but allow scrolling */
table {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

table::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


td , th{
    padding: 15px 20px;
    text-align: center;
}

th{
    background-color: #ba68c8;
    color: #fafafa;
    font-family: 'Open Sans',Sans-serif;
    font-weight: 200;
}
tr{
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:hover{
    background-color: #eeeeee;
}

.role {
    padding: 7px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.role.guest {
    background-color: #6d6666;
}
.role.admin {
    background-color: rgb(232, 88, 88);
}
.role.member {
    background-color: #568fde;
}