
.container {
    background-color: #FCF4E7;
    position: absolute;
    border: 5px solid black;
    border-radius: 25px;
    box-shadow: 10px 10px black;
    top: 50px;
    left: 20%;
    height: 80vh;
    width: 60vw;
}

.nav-bar {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid black;
    gap: 4;
}

.title {
    cursor: pointer;
    transition: transform 250ms;
}

.title:hover {
    transform: scale(1.1);
}

.list {
    display: flex;
    align-items: center;
}

.list > .item {
    cursor: pointer;
    padding: 3px 5px;
    margin: 0 10px;
}

.content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 300;
}

.title-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #179AB4;
    letter-spacing: 3px;
}

.header-content {
    font-size: 4.5rem;
    font-weight: 600;
}

.sub-header {
    font-size: 1rem;
    margin: 15px 0px 0px 0px;
}

.description {
    font-size: 2rem;
    max-width: 700px;
    margin: 15px 0px 30px 0px;
    font-style: oblique;
}
  
.wrapper{
    position: fixed;
    left: 50%;
    margin-top: 30px;
    transform: translate(-50%, -50%);
}

.link_wrapper{
    position: relative;
}

.text-content {
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
    cursor: pointer;
}

.icon{
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #FBBEAC;
    transition: all .35s;
}

.text-content:hover{
    width: 200px;
    border: 3px solid #FBBEAC;
    background: transparent;
    color: rgb(218, 121, 85);
}

.text-content:hover + .icon{
    border: 3px solid #FBBEAC;
    right: -25%;
}

.item.btn-message {
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
    box-sizing: border-box;
    color: rgb(218, 121, 85);
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 auto;
    justify-content: center;
    line-height: 1;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-message:hover {
    transition: ease-in-out .3s;
    box-shadow: rgb(218, 121, 85) 0 0 0 3px, transparent 0 0 0 0;
}

.admin {
    background-color: rgba(233, 69, 69, 0.722);
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}

.member {
    background-color: rgba(121, 193, 240, 0.821);
    border-radius: 5px;
    padding: 5px;
    color: #fff;
}
.dashboard {
    
}

.toggle {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    top: 200px;
    margin: 0 auto;
    left: 40%;
}

.toggle.show {
    visibility: visible;
}

.btn-pluss {
    overflow: hidden;
    position: relative;
    display: block;
    padding: 10px 5px 0 5px;
    border-radius: 22px;
    width: 30px;
    margin: 0 auto;
    background-color: white;
    transition: width 0.3s 0.5s ease, border-radius 1.1s ease;
}
.btn-pluss a {
    display: block;
    position: relative;
    color: #fa434b;
    text-decoration: none;
    overflow: hidden;
    padding: 5px;
    border-radius: 5px;
}
.btn-pluss a:hover {
    text-decoration: inherit;
    color: white;
    background-color: #fa434b;
    transition: background-color 0.5s ease;
}
.btn-pluss:after {
    content: '≡';
    zoom:100%;
    font-size: 2.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    line-height: 20px;
    text-align: center;
    background-color: #fa434b;
    color: white;
    transform: translateY(-50%) translateX(-50%);
    transition: all 0.3s 0.5s ease;
    cursor: pointer;
    cursor: hand;
}
.btn-pluss ul {
    opacity: 0;
}
.btn-pluss ul {
    margin-top: 15px;
    opacity: 0;
    width: 100%;
    margin-left: 0px;
    transition: all 0.5s ease;
    text-align: center;
    font-size: 0.9rem;
}
.btn-pluss ul li {
    background-color: #e4e4e4;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height 1s ease;
}

.btn-pluss-wrapper:hover .btn-pluss {
    width: 150px;
    border-radius: 15px;
    padding-bottom: 5px;
    transition: width 0.3s ease, border-radius 0.3s ease, padding-bottom 0.3s ease;
}
.btn-pluss-wrapper:hover .btn-pluss::after {
    transition: all 0.3s ease;
    left: 50%;
    top: 10px;
    transform: translateY(-5px) translateX(-50%);
}
.btn-pluss-wrapper:hover .btn-pluss ul {
    opacity: 1;
    margin-top: 30px;
    transition: all .7s ease;
}
.btn-pluss-wrapper:hover .btn-pluss li {
    height: 25px;
    transition: height 0.7s ease;
}
.btn-pluss-wrapper:hover .btn-pluss li:hover {
    border-bottom: 1px solid #d2c9c9;
}
@keyframes jump {
    0% {
        transform: translateY(3px);
   }
    50% {
        transform: translateY(-15px);
   }
    100% {
        transform: translateY(3px);
   }
}


@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");

.message {
    background: #eee;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.31);
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    max-width: 30em;
    margin: 2em auto;
}
.message header {
    background: #9e9e9e;
    width: 100%;
    padding: 0.5em;
}
.message i:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f128';
    font-style: normal;
    color: #eee;
    background: #353535;
    padding: 1em 0.75em;
    font-size: 1.25em;
    display: block;
    width: 2.5em;
    height: 100%;
    text-align: center;
}
.message h2 {
    margin: 0.75em;
    font-size: 1.25em;
    position: relative;
    display: block;
    width: calc(100% - 2.5em - 1.5em);
}
.message h2 span {
    color: #9e9e9e;
}
.message h2:after {
    content: '';
    border-bottom: 0.1em solid #9e9e9e;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.error header {
    background: #d50000;
}
.error i:after {
    background: #3d1d1d;
    color: #ff5656;
    content: "!";
}
.error h2 span {
    color: #d50000;
}
.error h2:after {
    border-bottom: 0.1em solid #d50000;
}




