.form {
    border-radius: 20px;
    border: 5px solid #333;
    box-sizing: border-box;
    padding: 30px;
    width: 350px;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.ic1 {
    margin-top: 40px;
}

.ic2 {
    margin-top: 30px;
}

.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}

.placeholder {
    color: #65657b;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-37px) translateX(-5px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}

.input:focus ~ .placeholder {
    color: #333;
    font-size: 18px;
}

.error {
    color: rgba(196, 50, 50, 0.828);
    font-size: .8rem;
    margin-top: 10px;
}

.submit {
    background-color: rgba(218, 120, 85, 0.795);
    border-radius: 12px;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    width: 50%;
}

.submit:active {
    background-color: rgb(130, 72, 51);
}

.back {
    background-color: #FCF4E8;
    color: rgb(155, 94, 72);
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    width: 100%;
}